.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  font-size: calc(10px + 2vmin);
  padding-top: 5%;
}

.App-link {
  color: #61dafb;
}